/* Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.overlay { 
    display: flex;
    display: none;
    position: fixed;
   right: 0;
   top: 0;
   left: 0;
   bottom: 0;
   background-color: rgba(0, 0, 0, 0.812);
   z-index: 2;
   justify-content: center;
   align-items: center;
}
.img-overlay {
width: 50vw;
height: 80vh;

}
.container-overlay {
    width: 100%;
margin: 5rem 10rem;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.title {
    background-image: url(../img/wall.png);
    text-align: center;
    padding: 20px;
    font-family: "Edu TAS Beginner", cursive;
    font-size: 40px;
}

main {
    background-image: url(../img/cork.png);
}

.imgs {
    width: 100%;

}

figcaption {
    font-family: "Edu TAS Beginner", cursive;
    padding-top: 12px;

}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
}

.pin {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;

}

.card {
    position: relative;
    width: calc(100% / 3 - (2rem * 2));
    background-color: rgb(246, 245, 245);
    padding: 16px;
    /* border: solid 2px black; */

}
/* responsive tablet */
@media screen and (max-width: 768px) {
    .card{
         width: calc(100% / 2 - 2rem );
    } 
   
}
/* responsive phone */
@media screen and (max-width: 420px) {
    .card {
        width: 100%;
    }
    .title {
        font-size: 30px;
    }
}

