/* Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title {
    background-image: url(../img/wall.png);    
}
main{
    background-image: url(../img/cork.png);
}
.imgs {
    width: 100%;
  
}
.container-cards {
    display: flex;
    flex-wrap: wrap;
width: 100%;
height: 100%;

}
.card {

    width: calc(100% / 3);
    text-align: ;
   margin: 20 px 0;
    border:solid 2px black;

}