/* Reset css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    background-image: url(../img/wall.png);
    text-align: center;
    padding: 20px;
    font-family: "Edu TAS Beginner", cursive;
    font-size: 40px;
}

main {
    background-image: url(../img/cork.png);
}

.imgs {
    width: 100%;

}

figcaption {
    font-family: "Edu TAS Beginner", cursive;
    padding-top: 12px;

}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    gap: 2rem;
    justify-content: center;
    margin: 0 auto;
    padding: 2rem;
}

.pin {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -18px;

}

.card {
    position: relative;
    width: calc(100% / 3 - (2rem * 2));
    background-color: rgb(246, 245, 245);
    padding: 16px;
    /* border: solid 2px black; */

}